@CHARSET "UTF-8";

@media (min-width: 768px) {
  div#sidebar {
    height: 100vh;
  }
  .sidebar-nav .navbar .navbar-collapse {
    height: 100vh;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
html, body {
  height: 90vh;
}
#entete {
	height : 5vh;
}
td {
	text-align: center;
	vertical-align:center;
}
th {
	text-align: center;
}
.btn-primary, btn-danger, btn-success {
	align:center;
	vertical-align:center;
}
table{
	class:table table-hover;
}
h1 {
	font-family:"Verdana";
	font-size:2.5em;
	color:white;
}
#wrap {min-height: 100vh}
#main {
    overflow:auto;
    padding-bottom: 30px
}
#retour {
    position: relative;
    clear:both;
    margin-top: -30px;
    height: 30px
}

.container_body {
	margin-left:30%;
}

.dropdown_index:hover {
    cursor: pointer;
}

.no_puce {
	list-style:none;
}

.dropdown_menu {
	padding:0;
}

.title {
	background-color: #5983AA;
}

.dropdown_menu {
	background: rgba(255,255,255,0.15)
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}
.container.drop-shadow {
    padding-left:0;
    padding-right:0;
    width:70%;
    margin-left:0%
}
.add {
	position:relative;
	bottom:0;
}
.container {
	width:100%;
}
