@CHARSET "ISO-8859-1";

@media (min-width: 768px) {
  div#sidebar {
    height: 100vh;
  }
  .sidebar-nav .navbar .navbar-collapse {
    height: 100vh;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
html, body {
  height: 100vh;
}
td {
	text-align: center;
	vertical-align:center;
}
th {
	text-align: center;
}
.btn-primary, btn-danger, btn-success {
	align:center;
	vertical-align:center;
}
table{
	class:table table-hover;
}
h1 {
	font-family:"Verdana";
	font-size:1.875em;
}
#wrap {min-height: 100vh}
#main {
    overflow:auto;
    padding-bottom: 30px
}
#retour {
    position: relative;
    clear:both;
    margin-top: -30px;
    height: 30px
}

.container_body {
	margin-left:30%;
}

.dropdown_index:hover {
    cursor: pointer;
}

.no_puce {
	list-style:none;
}

.dropdown_menu {
	padding:0;
}
